<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST">
        {%csrf_token%}
        pregnancies: <input type="number" name="pg"/><br/>
        Glucose: <input type="number" name="gl"/><br/>
        BP: <input type="number" name="bp"/><br/>
        SkinThickness: <input type="number" name="st"/><br/>
        Insulin: <input type="number" name="ins"/><br/>
        BMI: <input type="number" name="bmi"/><br/>
        Diabetic_pf: <input type="number" name="dpf"/><br/>
        age: <input type="number" name="age"/><br/>
        
        <button type="submit">Submit</button>

    </form>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class=" {{ message.tags }} "{% endif %}>
            {{ message }}
        </li>}
        {% endfor %}
    </ul>
    {% endif %}
</body>
</html>
